

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3vmax 1vmax;
    padding: 4vmax;
    font-size: 4em;
    font-weight: 800;
    font-family: var( --cursive-fontFamily);
    position: relative;
}

.heading span{
    margin-left: 1vmax;
    font-family: var( --cursive-fontFamily);
    color: var(--primary-red);
}

.heading.active{
    color: #fff;
}

.heading::before{
    content: '';
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 5px;
    background: var(--primary-red);
}

@media screen and (max-width:768px) {
    .heading{ 
        font-size: 2em;
    }

    .heading::before{
        bottom: 20px;
    }
}