.proContainer{
    width: 100%;
    height: auto;
    padding: 2vmax 6vmax;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:60px 40px;
}

.proCardBx{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),0 -1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
}

.proCardBx-imgBx{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),0 -1px 2px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.proCardBx:hover .proCardBx-imgBx{
    margin-top: -10%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),0 -1px 2px rgba(0, 0, 0, 0.2);
}

.proCardBx-imgBx img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.proCardBx-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.proCardBx-button button{
    padding: 0.5vmax 1vmax;
    font-size: 0.8em;
    border: none;
    background: #111;
    color: #fff;

}

.proCardBx:hover .proCardBx-button{
    display: block;
}

.proCardBx-button button:hover{
    background: var(--primary-red);
}

.proCardBx-contentBx{
    height: 150px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    padding: 20px 0;
}

.proCardBx-contentBx__proId{
    font-size: 0.8em;
    color: #ccc;
}

.proCardBx-contentBx__proName{
    text-transform: capitalize;
    font-size: 1.8em;
    font-weight: 400;
    cursor: pointer;
    color: var(--primary-red);
    text-align: center;
}

.proCardBx-contentBx__proName:hover{
    text-decoration: underline !important;
    color: unset;
}

.proCardBx-contentBx__proPrice
{
    font-size: 1.2em;
    color: var(--primary-red);
    margin-bottom: 20px;
}

.proCardBx-contentBx__proDec{
    text-align: center;
    font-size: 0.8em;
    margin: 0 1vmax;
    max-height:80px ;
}

.proContainer-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vmax 1vmax;
}

.cat_container{
    position: relative;
    padding: 10px 10px ;
    width: 85%;
    margin-bottom: 40px;
    border: 0.2px solid #cccccc;
    margin:0 auto ;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat_container-child{
    position: relative;
    display: flex;
    justify-content: start !important;
    align-items: center;
    flex-wrap: nowrap;
    /* background: red; */
}

.catButton{
    width: auto;
    /* width: 100px; */
    margin-right: 20px;
    position: relative;
}

.arrowDiv{
    width: 25px;
    height: 25px;
    overflow: hidden;
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.arrowDiv.active{
    transform: rotate(-180deg);
    transition: 0.2s linear;
}

.subCatDiv{
    position: absolute;
    top: 100%;
    left: 80%;
    min-width: 225px;
    width: auto;
    height: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    display: none;
    z-index: 100;
}

.catButton:hover .subCatDiv.active{
    display: block;
}

.subCatLink{
    display: block;
    margin-bottom: 10px;
    color: #1f1f1f;
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    .proContainer{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }

    .proCardBx-contentBx{
        height: auto;
    }

    .proCardBx-contentBx__proDec{
        display: none;
    }

    .proCardBx-contentBx__proName{
        font-size: 1.6em;
        margin-bottom: 0;
    }

    .cat_container{
        overflow: scroll;
        justify-content: start;
    }

    /* .cat_container-child{
        justify-content: start !important;
    } */
    

    /* .cat_container-child{
       display: grid !important;
       grid-template-columns: repeat(2,1fr) !important;
       font-size: 0.8em;
    } */
}

@media screen and (max-width: 500px) {
    .proContainer{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        padding: 2vmax;
    }

    .proCardBx-imgBx{
        width: 100%;
        height: 150px;
    }

    .proCardBx-contentBx{
        height: auto;
        width: 100%;
    }

    .proCardBx-contentBx__proName{
        text-transform: capitalize;
        font-size: 0.8em;
        font-weight: 400;
        cursor: pointer;
        color: var(--primary-red);
        text-align: center;
    }
    
    .cat_container{
        padding: 10px 20px;
        width: 100%;
        margin-bottom: 20px;
    }

    .catButton{
        font-size: 0.8em;
        white-space: nowrap;
    }
}
