
.serviceBx{
    width: 400px;
    height: 300px;
    border-radius: 40px;
    background: var(--Dark-greenyBlue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    margin: 2vmax;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.40);
}

.serviceBx:hover {
    transform: translateY(-10px);
}

.sreviceBx__ImgBx{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 1vmax;
}

.sreviceBx__ImgBx img{
    width: 100%;
    height: 100%;
    filter: invert(1);
    overflow: hidden;
}

.serviceBx__content{
    width: 100%;
    text-align: center;
    padding: 0 2vmax;
}

.serviceBx__content-title{
    font-size: 1.4em;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;

}

.serviceBx__content-description{
    font-size: 0.9em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.40);
    color: #fff;
}

@media screen and (max-width:768px) {
    .serviceBx{
        width: 300px;
        height: 200px;
    }

    .sreviceBx__ImgBx{
        width: 40px;
        height: 40px;
    }
    .serviceBx__content-title{
        font-size: 1em;
    }

    .serviceBx__content-description{
        font-size: 0.6em;
    }
}

@media screen and (max-width:500px) {
    .serviceBx{
        width: 150px;
        height: 120px;
        margin: 1vmax;
    }

    .sreviceBx__ImgBx{
        width: 30px;
        height: 30px;
    }
    .serviceBx__content-title{
        font-size: 0.8em;
    }

    .serviceBx__content-description{
        display: none;
    }
}