.testiomnialCard-container{
    width: 100%;
    height: auto;
    padding: 2vmax 1vmax;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 2vmax 6vmax;
    position: relative;
    z-index: 50;
}

.testiomnialCard{
    width: 100%;
    height: 400px;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.2),0 -1px 2px rgba(0, 0, 0, 0.2) ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: #fff;
}

.testiomnialCard-imgBx{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #111;
    overflow: hidden;
    margin-bottom: 0.5vmax;
}

.testiomnialCard-imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testiomnialCard-hosName{
    font-size: 1em;
    margin: 1vmax 0;
}

.testiomnialCard-cityName{
    font-size: 0.8em;
    color: var(--primary-red);
}

.testiomnialCard-dec{
    height: 150px;
    overflow-y: scroll;
    text-align: center;
    font-size: 0.9em;
    margin: 0 0.5vmax;
}

.testiomnialCard-container-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vmax 1vmax;
}

@media screen and (max-width: 768px) {
    .testiomnialCard-container{
        gap: 25px;
        padding: 2vmax 4vmax;
    }

    .testiomnialCard-dec{
        display: none;
    }

    .testiomnialCard{
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    .testiomnialCard-container{
        gap: 25px;
        padding: 2vmax 2vmax;
    }

    .testiomnialCard-imgBx{
        width: 80px;
        height: 80px;
    }

    .testiomnialCard-dec{
        display: none;
    }

    .testiomnialCard{
        height: 180px;
    }

    .testiomnialCard-hosName{
        font-size: 0.8em;
        margin: 1vmax 0;
        text-align: center;
    }
    
    .testiomnialCard-cityName{
        font-size: 0.6em;
        color: var(--primary-red);
    }
}

@media screen and (max-width: 400px) {
    .testiomnialCard-container{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        padding: 2vmax 2vmax;
    }

    
}